<a href="https://colab.research.google.com/github/atif4/Q2/blob/gh-pages/grade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#hide earrings 
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [2]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Dataset/grade.csv')

In [5]:
df

       s1  s2  s3  s4  s5 Grade
0      75  76  78  73  78     A
1      49  41  42  43  49     D
2      41  47  48  41  41     D
3      46  48  46  42  41     D
4      43  49  44  45  42     D
...    ..  ..  ..  ..  ..   ...
69995  15  12  30  13   3  Fail
69996  38  39  35  38  36     E
69997  68  63  62  66  63     B
69998  35  34  38  36  37     E
69999  44  45  46  43  49     D

[70000 rows x 6 columns]

In [6]:
df.Grade.unique()

array(['A', 'D', 'C', 'A+', 'E', 'B', 'Fail'], dtype=object)

In [7]:
List = [1, 2, 3, 4, 5]
for a in List:
  r = List.pop()
  print(f"{List}{len(List)}{r}")

[1, 2, 3, 4]45
[1, 2, 3]34
[1, 2]23

In [8]:
def get_percentage(total_number, col_id, conditional_name):
    length = len(df[df[col_id]== conditional_name])
    percentage = (length/total_number)*100
    result = f"The percentage of {col_id} is {percentage}"
    return result
get_percentage(70000, 'Grade', 'A')

'The percentage of Grade is 14.285714285714285'

In [9]:
get_percentage(70000, 'Grade', 'A+')

'The percentage of Grade is 14.285714285714285'

In [10]:
get_percentage(70000, 'Grade', 'B')

'The percentage of Grade is 14.285714285714285'

In [11]:
get_percentage(70000, 'Grade', 'C')

'The percentage of Grade is 14.285714285714285'

In [12]:
get_percentage(70000, 'Grade', 'D')

'The percentage of Grade is 14.285714285714285'

In [13]:
get_percentage(70000, 'Grade', 'E')

'The percentage of Grade is 14.285714285714285'

In [14]:
get_percentage(70000, 'Grade', 'Fail')

'The percentage of Grade is 14.285714285714285'

In [15]:
14.285*7

99.995

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s1      70000 non-null  int64
 1   s2      70000 non-null  int64
 2   s3      70000 non-null  int64
 3   s4      70000 non-null  int64
 4   s5      70000 non-null  int64
 5   Grade   70000 non-null  object
dtypes: int64(5), object(1)
memory usage: 3.2+ MB

In [17]:
#Separate Feature and Target Matrix
def get_seprate_features(df_id,col_id):
    #col_id is special col or target col b/c this the whole model is going to be created 
    global X, y
    X = df_id.drop(col_id,axis = 1) 
    y = df_id[col_id]
get_seprate_features(df,'Grade')

In [18]:
X.head()

   s1  s2  s3  s4  s5
0  75  76  78  73  78
1  49  41  42  43  49
2  41  47  48  41  41
3  46  48  46  42  41
4  43  49  44  45  42

In [19]:
def get_normalize():
    X.iloc[:,0:5] = (X-X.min())/ (X.max() - X.min())
    return X.head()
get_normalize()

         s1        s2        s3        s4        s5
0  0.755102  0.765306  0.785714  0.734694  0.785714
1  0.489796  0.408163  0.418367  0.428571  0.489796
2  0.408163  0.469388  0.479592  0.408163  0.408163
3  0.459184  0.479592  0.459184  0.418367  0.408163
4  0.428571  0.489796  0.438776  0.448980  0.418367

In [20]:
y.head()

0    A
1    D
2    D
3    D
4    D
Name: Grade, dtype: object

In [21]:
# Vectorization to Y
# one-hot-encoding
y = pd.get_dummies(y)
y.head()

   A  A+  B  C  D  E  Fail
0  1   0  0  0  0  0     0
1  0   0  0  0  1  0     0
2  0   0  0  0  1  0     0
3  0   0  0  0  1  0     0
4  0   0  0  0  1  0     0

In [22]:
y.drop_duplicates()

    A  A+  B  C  D  E  Fail
0   1   0  0  0  0  0     0
1   0   0  0  0  1  0     0
5   0   0  0  1  0  0     0
7   0   1  0  0  0  0     0
8   0   0  0  0  0  1     0
12  0   0  1  0  0  0     0
13  0   0  0  0  0  0     1

In [23]:
def get_train_test_split(array1, array2, test_size, random_state):
    global X_train, X_test, y_train, y_test
    X_train, X_test, y_train, y_test = train_test_split(array1, array2, test_size=test_size,random_state=random_state)
get_train_test_split(X,y,0.3,0)

In [24]:
print(f'X_train: {X_train.shape} y_train: {y_train.shape}  \nX_test: {X_test.shape} y_test: {y_test.shape}')

X_train: (49000, 5) y_train: (49000, 7)
X_test: (21000, 5) y_test: (21000, 7)

In [25]:
# first layer input shape will be constant input_shape = x_no_columns
# last-layer output and activation function will be constant based on your problems
# last-layer numbers_output = y.unique_value = unique_classes
# Dense(output,)

model = Sequential()
model.add(Dense(32, activation='relu', input_shape=(5,)))
model.add(Dense(16, activation='relu'))
model.add(Dense(7, activation='softmax')) # we have multiple class problem so we have to use softmax it apply 
# (5 -> 5output we will get, activation='relu' -> function ,input_shape=(5,)))

In [26]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                192

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 7)                 119

=================================================================
Total params: 839
Trainable params: 839
Non-trainable params: 0
_________________________________________________________________

In [27]:
# select loss function based on your problems
model.compile(optimizer=SGD(lr=0.002), loss='categorical_crossentropy', metrics=['acc'])

In [28]:
#Training
model.fit(X_train, y_train, epochs=30)

Epoch 1/30
1532/1532 [==============================] - 7s 4ms/step - loss: 1.9415 - acc: 0.1351
Epoch 2/30
1532/1532 [==============================] - 7s 4ms/step - loss: 1.8771 - acc: 0.1291
Epoch 3/30
1532/1532 [==============================] - 4s 2ms/step - loss: 1.7980 - acc: 0.1530
Epoch 4/30
1532/1532 [==============================] - 3s 2ms/step - loss: 1.6967 - acc: 0.3383
Epoch 5/30
1532/1532 [==============================] - 3s 2ms/step - loss: 1.5827 - acc: 0.4256
Epoch 6/30
1532/1532 [==============================] - 3s 2ms/step - loss: 1.4652 - acc: 0.4268
Epoch 7/30
1532/1532 [==============================] - 3s 2ms/step - loss: 1.3436 - acc: 0.4319
Epoch 8/30
1532/1532 [==============================] - 4s 2ms/step - loss: 1.2166 - acc: 0.5974
Epoch 9/30
1532/1532 [==============================] - 4s 3ms/step - loss: 1.0875 - acc: 0.7747
Epoch 10/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.9611 - acc: 0.8841
Epoch 11/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.8429 - acc: 0.9638
Epoch 12/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.7365 - acc: 0.9945
Epoch 13/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.6430 - acc: 0.9990
Epoch 14/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.5611 - acc: 0.9996
Epoch 15/30
1532/1532 [==============================] - 2s 2ms/step - loss: 0.4896 - acc: 0.9998
Epoch 16/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.4270 - acc: 0.9999
Epoch 17/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.3720 - acc: 1.0000
Epoch 18/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.3238 - acc: 1.0000
Epoch 19/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.2816 - acc: 1.0000
Epoch 20/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.2448 - acc: 0.9999
Epoch 21/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.2129 - acc: 0.9999
Epoch 22/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.1853 - acc: 1.0000
Epoch 23/30
1532/1532 [==============================] - 2s 2ms/step - loss: 0.1617 - acc: 0.9999
Epoch 24/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.1416 - acc: 1.0000
Epoch 25/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.1247 - acc: 0.9999
Epoch 26/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.1104 - acc: 0.9999
Epoch 27/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.0983 - acc: 0.9999
Epoch 28/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.0881 - acc: 0.9999
Epoch 29/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.0794 - acc: 0.9999
Epoch 30/30
1532/1532 [==============================] - 3s 2ms/step - loss: 0.0719 - acc: 1.0000

In [29]:
test_loss, test_acc = model.evaluate(X_test, y_test)

657/657 [==============================] - 1s 1ms/step - loss: 0.0682 - acc: 0.9998

In [30]:
print(f'Test accuracy:{test_acc*100}\nTest loss: {test_loss*100}')

Test accuracy:99.98095035552979
Test loss: 6.816691905260086

In [31]:
df1 = pd.DataFrame(np.random.randint(0,100, size=(20,5)), columns = ['s1','s2','s3','s4','s5'])
df1.head()

   s1  s2  s3  s4  s5
0  66  12  56   6  44
1  89  17  82  12  43
2  53  38  48  92  13
3  83   3  20  53  37
4   7  83  93  81  79

In [32]:
y_test.columns.take(np.argmax(model.predict([[90,90,59,70,95]]), axis=1))

1/1 [==============================] - 0s 100ms/step

Index(['A+'], dtype='object')

In [33]:
df1['predict']=y_test.columns.take(np.argmax(model.predict(df1.loc[:,'s1':'s5']), axis=1))
df1

1/1 [==============================] - 0s 17ms/step

    s1  s2  s3  s4  s5 predict
0   66  12  56   6  44      A+
1   89  17  82  12  43      A+
2   53  38  48  92  13      A+
3   83   3  20  53  37      A+
4    7  83  93  81  79      A+
5   58   7  15  71  27      A+
6   78  65  72  96  37      A+
7   71  41  86  80  53      A+
8   48  51  28  89  81      A+
9   59   7  94  10  42      A+
10  19  97  60   5  13      A+
11  89  53  67  86  48      A+
12  59   9  61  76  67      A+
13  67  28  48  79  32      A+
14   1  81  37  44  49      A+
15  13  45  95  74  14      A+
16  71  14  36  92  44      A+
17  38  64  89  83  89      A+
18  66  20  10  24   5      A+
19  82  33  70   6   8      A+