<a href="https://colab.research.google.com/github/atif4/Q2/blob/gh-pages/grade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#hide earrings 
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Dataset/grade.csv')

In [ ]:
df

       s1  s2  s3  s4  s5 Grade
0      75  76  78  73  78     A
1      49  41  42  43  49     D
2      41  47  48  41  41     D
3      46  48  46  42  41     D
4      43  49  44  45  42     D
...    ..  ..  ..  ..  ..   ...
69995  15  12  30  13   3  Fail
69996  38  39  35  38  36     E
69997  68  63  62  66  63     B
69998  35  34  38  36  37     E
69999  44  45  46  43  49     D

[70000 rows x 6 columns]

In [ ]:
df.Grade.unique()

array(['A', 'D', 'C', 'A+', 'E', 'B', 'Fail'], dtype=object)

In [1]:
"""def get_percentage(total_number, col_ids, conditional_names):
  global dic_per
  dic_per={}
  for conditional_name in conditional_names: 
    length = len(df[df[col_id]== conditional_name])
    percentage = (length/total_number)*100
    dic_per[conditional_name]=[percentage]
    #result = f"The percentage of {conditional_name} is {percentage}"
    return dic_per
get_percentage(70000, 'Grade', ['A', 'D', 'C', 'A+', 'E', 'B', 'Fail'])
dic_per"""

'def get_percentage(total_number, col_ids, conditional_names):\n  global dic_per\n  dic_per={}\n  for conditional_name in conditional_names: \n    length = len(df[df[col_id]== conditional_name])\n    percentage = (length/total_number)*100\n    dic_per[conditional_name]=[percentage]\n    #result = f"The percentage of {conditional_name} is {percentage}"\n    return dic_per\nget_percentage(70000, \'Grade\', [\'A\', \'D\', \'C\', \'A+\', \'E\', \'B\', \'Fail\'])\ndic_per'

In [ ]:
get_percentage(70000, 'Grade', 'A+')

'The percentage of A+ is 14.285714285714285'

In [3]:
"""def get_percentage(total_number, col_ids, conditional_names):
  global dic_per
  dic_per={}
  for conditional_name in conditional_names: 
    print(conditional_name)
    length = len(df[df[col_id]== conditional_name])
    percentage = (length/total_number)*100
    dic_per[col_id]=[percentage]
    #result = f"The percentage of {conditional_name} is {percentage}"
    return dic_per
get_percentage(70000, 'Grade', ['A', 'D', 'C', 'A+', 'E', 'B', 'Fail'])
dic_per"""

'def get_percentage(total_number, col_ids, conditional_names):\n  global dic_per\n  dic_per={}\n  for conditional_name in conditional_names: \n    print(conditional_name)\n    length = len(df[df[col_id]== conditional_name])\n    percentage = (length/total_number)*100\n    dic_per[col_id]=[percentage]\n    #result = f"The percentage of {conditional_name} is {percentage}"\n    return dic_per\nget_percentage(70000, \'Grade\', [\'A\', \'D\', \'C\', \'A+\', \'E\', \'B\', \'Fail\'])\ndic_per'

In [ ]:
get_percentage(70000, 'Grade', 'B')

'The percentage of B is 14.285714285714285'

In [ ]:
get_percentage(70000, 'Grade', 'C')

'The percentage of C is 14.285714285714285'

In [ ]:
get_percentage(70000, 'Grade', 'D')

'The percentage of D is 14.285714285714285'

In [ ]:
get_percentage(70000, 'Grade', 'E')

'The percentage of E is 14.285714285714285'

In [ ]:
get_percentage(70000, 'Grade', 'Fail')

'The percentage of Fail is 14.285714285714285'

In [ ]:
14.285*7

99.995

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s1      70000 non-null  int64
 1   s2      70000 non-null  int64
 2   s3      70000 non-null  int64
 3   s4      70000 non-null  int64
 4   s5      70000 non-null  int64
 5   Grade   70000 non-null  object
dtypes: int64(5), object(1)
memory usage: 3.2+ MB

In [ ]:
#Separate Feature and Target Matrix
def get_seprate_features(df_id,col_id):
    #col_id is special col or target col b/c this the whole model is going to be created 
    global X, y
    X = df_id.drop(col_id,axis = 1) 
    y = df_id[col_id]
get_seprate_features(df,'Grade')

In [ ]:
X.head()

   s1  s2  s3  s4  s5
0  75  76  78  73  78
1  49  41  42  43  49
2  41  47  48  41  41
3  46  48  46  42  41
4  43  49  44  45  42

In [ ]:
def get_normalize():
    X.iloc[:,0:5] = (X-X.min())/ (X.max() - X.min())
    return X.head()
get_normalize()

         s1        s2        s3        s4        s5
0  0.755102  0.765306  0.785714  0.734694  0.785714
1  0.489796  0.408163  0.418367  0.428571  0.489796
2  0.408163  0.469388  0.479592  0.408163  0.408163
3  0.459184  0.479592  0.459184  0.418367  0.408163
4  0.428571  0.489796  0.438776  0.448980  0.418367

In [ ]:
y.head()

   A  A+  B  C  D  E  Fail
0  1   0  0  0  0  0     0
1  0   0  0  0  1  0     0
2  0   0  0  0  1  0     0
3  0   0  0  0  1  0     0
4  0   0  0  0  1  0     0

In [ ]:
# Vectorization to Y
# one-hot-encoding
y = pd.get_dummies(y)
y.head()

   A  A+  B  C  D  E  Fail
0  1   0  0  0  0  0     0
1  0   0  0  0  1  0     0
2  0   0  0  0  1  0     0
3  0   0  0  0  1  0     0
4  0   0  0  0  1  0     0

In [ ]:
y.drop_duplicates()

    A  A+  B  C  D  E  Fail
0   1   0  0  0  0  0     0
1   0   0  0  0  1  0     0
5   0   0  0  1  0  0     0
7   0   1  0  0  0  0     0
8   0   0  0  0  0  1     0
12  0   0  1  0  0  0     0
13  0   0  0  0  0  0     1

In [ ]:
def get_train_test_split(array1, array2, test_size, random_state):
    global X_train, X_test, y_train, y_test
    X_train, X_test, y_train, y_test = train_test_split(array1, array2, test_size=test_size,random_state=random_state)
get_train_test_split(X,y,0.3,0)

In [ ]:
print(f'X_train: {X_train.shape} y_train: {y_train.shape}  \nX_test: {X_test.shape} y_test: {y_test.shape}')

Train: ((49000, 5), (49000, 7))
Test: ((21000, 5), (21000, 7))

In [ ]:
# first layer input shape will be constant input_shape = x_no_columns
# last-layer output and activation function will be constant based on your problems
# last-layer numbers_output = y.unique_value = unique_classes
# Dense(output,)

model = Sequential()
model.add(Dense(32, activation='relu', input_shape=(5,)))
model.add(Dense(16, activation='relu'))
model.add(Dense(7, activation='softmax')) # we have multiple class problem so we have to use softmax it apply 
# (5 -> 5output we will get, activation='relu' -> function ,input_shape=(5,)))

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                192

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 7)                 119

=================================================================
Total params: 839
Trainable params: 839
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# select loss function based on your problems
model.compile(optimizer=SGD(lr=0.002), loss='categorical_crossentropy', metrics=['acc'])

In [ ]:
#Training
model.fit(X_train, y_train, epochs=30)

Epoch 1/30
1532/1532 [==============================] - 6s 3ms/step - loss: 1.8934 - acc: 0.1695
Epoch 2/30
1532/1532 [==============================] - 4s 3ms/step - loss: 1.7853 - acc: 0.3460
Epoch 3/30
1532/1532 [==============================] - 4s 3ms/step - loss: 1.6290 - acc: 0.4263
Epoch 4/30
1532/1532 [==============================] - 4s 3ms/step - loss: 1.4479 - acc: 0.4622
Epoch 5/30
1532/1532 [==============================] - 4s 3ms/step - loss: 1.2653 - acc: 0.5460
Epoch 6/30
1532/1532 [==============================] - 4s 3ms/step - loss: 1.0970 - acc: 0.7265
Epoch 7/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.9494 - acc: 0.9017
Epoch 8/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.8222 - acc: 0.9852
Epoch 9/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.7121 - acc: 0.9984
Epoch 10/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.6152 - acc: 0.9998
Epoch 11/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.5312 - acc: 0.9999
Epoch 12/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.4578 - acc: 1.0000
Epoch 13/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.3938 - acc: 1.0000
Epoch 14/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.3383 - acc: 1.0000
Epoch 15/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.2903 - acc: 1.0000
Epoch 16/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.2489 - acc: 1.0000
Epoch 17/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.2137 - acc: 1.0000
Epoch 18/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.1839 - acc: 1.0000
Epoch 19/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.1588 - acc: 1.0000
Epoch 20/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.1378 - acc: 1.0000
Epoch 21/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.1202 - acc: 1.0000
Epoch 22/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.1055 - acc: 1.0000
Epoch 23/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.0932 - acc: 1.0000
Epoch 24/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.0830 - acc: 1.0000
Epoch 25/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.0744 - acc: 1.0000
Epoch 26/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.0670 - acc: 1.0000
Epoch 27/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.0608 - acc: 1.0000
Epoch 28/30
1532/1532 [==============================] - 5s 3ms/step - loss: 0.0554 - acc: 1.0000
Epoch 29/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.0507 - acc: 1.0000
Epoch 30/30
1532/1532 [==============================] - 4s 3ms/step - loss: 0.0467 - acc: 1.0000

In [ ]:
test_loss, test_acc = model.evaluate(X_test, y_test)

657/657 [==============================] - 3s 4ms/step - loss: 0.0446 - acc: 1.0000

In [ ]:
print(f'Test accuracy:{test_acc*100}\nTest loss: {test_loss*100}')

Test accuracy:99.99523758888245
Test loss: 4.458822682499886

In [ ]:
df1 = pd.DataFrame(np.random.randint(0,100, size=(20,5)), columns = ['s1','s2','s3','s4','s5'])
df1.head()

   s1  s2  s3  s4  s5
0  67  97  56  68   7
1  60  45  66  78  73
2  43  65  27  52  68
3  35  79  98  38   3
4  37  12  38  42  57

In [ ]:
y_test.columns.take(np.argmax(model.predict([[90,90,59,70,95]]), axis=1))

1/1 [==============================] - 0s 25ms/step

Index(['A+'], dtype='object')

In [ ]:
df1['predict']=y_test.columns.take(np.argmax(model.predict(df1.loc[:,'s1':'s5']), axis=1))
df1

1/1 [==============================] - 0s 16ms/step

    s1  s2  s3  s4  s5 predict
0   67  97  56  68   7      A+
1   60  45  66  78  73      A+
2   43  65  27  52  68      A+
3   35  79  98  38   3      A+
4   37  12  38  42  57      A+
5   96   1  58   2  23      A+
6   31  83  59  58  62      A+
7   61  63  22  33  92      A+
8   68  28  22  34  14      A+
9   73  32  95  88  27      A+
10  48   1  53  12   1      A+
11  47  33   8  79  93      A+
12  23  36  51  86  44      A+
13  70  47  45  47  83      A+
14  41  75  72  66  84      A+
15   7  37  15  51  14      A+
16  68  72  39  86  82      A+
17  84  38  37  71  68      A+
18  91  76  48  52  36      A+
19  51  96  42  60  79      A+