In [1]:
import pandas as pd

In [3]:
data = pd.read_excel("data.xlsx",usecols=["input","output"])
data

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10
5      6      12
6      7      14
7      8      16
8      9      18
9     10      20

In [6]:
len(data)

10

In [4]:
X, Y = data.input.values , data.output.values
print(X)
print(Y)

[ 1  2  3  4  5  6  7  8  9 10]
[ 2  4  6  8 10 12 14 16 18 20]

In [5]:
training_ratio = 80

In [7]:
print("Training Ratio, get index", int(len(data)*training_ratio/100))

Training Ratio, get index 8

In [18]:
X_train = X[ :int(len(data)*training_ratio/100)]#start-7index-1
Y_train = Y[ :int(len(data)*training_ratio/100)]#start-7index-1


X_test = X[int(len(data)*training_ratio/100): ]#7index - endindex
Y_test = Y[int(len(data)*training_ratio/100): ]#7index - endindex

print(f"Training X:{X_train}\nTraining Y:{Y_train}\nTesting X:{X_test}\nTesting Y:{Y_test}")

Training X:[1 2 3 4 5 6 7 8]
Training Y:[ 2  4  6  8 10 12 14 16]
Testing X:[ 9 10]
Testing Y:[18 20]

### data spliting for ML model (Ratio)
- 70% for training 30% for testing
- 80% for training 20% for testing
- 60% for training 40% for testing
- 60% for training, 20% validation, 20% for Testing

### Train and test data distribution with sklearn library

In [20]:
data.head()

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10

In [21]:
X = data['input'].values
Y = data['output'].values

In [22]:
X

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [23]:
Y

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20], dtype=int64)

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
train_test_split(X,Y,test_size=0.3)

[array([ 1,  4,  7, 10,  5,  9,  8], dtype=int64),
 array([2, 6, 3], dtype=int64),
 array([ 2,  8, 14, 20, 10, 18, 16], dtype=int64),
 array([ 4, 12,  6], dtype=int64)]

In [27]:
train_test_split(X,Y,test_size=0.3, shuffle=False)

[array([1, 2, 3, 4, 5, 6, 7], dtype=int64),
 array([ 8,  9, 10], dtype=int64),
 array([ 2,  4,  6,  8, 10, 12, 14], dtype=int64),
 array([16, 18, 20], dtype=int64)]

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3,shuffle=False)
print(f"Training X:{X_train}\nTraining Y:{Y_train}\nTesting X:{X_test}\nTesting Y:{Y_test}")

Training X:[1 2 3 4 5 6 7]
Training Y:[ 2  4  6  8 10 12 14]
Testing X:[ 8  9 10]
Testing Y:[16 18 20]

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3,shuffle=True)
print(f"Training X:{X_train}\nTraining Y:{Y_train}\nTesting X:{X_test}\nTesting Y:{Y_test}")

Training X:[9 6 5 1 3 7 2]
Training Y:[18 12 10  2  6 14  4]
Testing X:[ 8  4 10]
Testing Y:[16  8 20]

In [32]:
import re

x = """
You4:40 PM
i'm audio able or not?
Syed Zaim Nazir4:41 PM
probably you can't hear us
Muhammad Fahad4:41 PM
yes
clearly
Kenneth Fahad4:41 PM
we can hear you
Madiha Obaid Obaid4:42 PM
screen share?
You4:44 PM
https://github.com/EnggQasim/PIAIC_ISLAMABAD_BATCH3/blob/master/9%20to%2012/python/class9(File%20Handling)/File%20Handling.ipynb
Syed Umair Ahmed5:20 PM
Sir 10 minutes ka break deden Namaz ka time
Syed Umair Ahmed6:17 PM
okay sir
You6:31 PM
https://github.com/EnggQasim/PGD_Batch2_Machine_Learning
Kenneth Fahad6:31 PM
33105-4159733-1
Syed Sajjad Ali Shah6:31 PM
1510120026221
Bilal Uddin6:31 PM
4220122191357
Amna Shahid6:31 PM
34603-4824275-6
MUSTAFA NADIMI6:31 PM
5440053241639
Muneeb Abdul Rauf6:31 PM
42301-8154478-7
Zoya Ansari6:31 PM
4220186465696
TARIQ JAMIL6:31 PM
4250182298545
Muhammad Fahad6:32 PM
Muhammad Fahad (CNIC 4210117498405)
Madiha Obaid Obaid6:32 PM
4220105920780
Syed Mohammad Asad Asad6:32 PM
42401-8056136-5
Syed Zaim Nazir6:32 PM
4220171026219
Rizwan Ali6:32 PM
4230174256393
Syed Umair Ahmed6:32 PM
Syed Umair Ahmed
CNIC: 41304-8519667-3
Syed Abbas Abbas6:32 PM
4200034578253
syed daniyal6:32 PM
4250189782769
Farrukh Jalil6:32 PM
Farrukh Jalil
CNIC: 42101-1397876-3
Mustafa6:32 PM
4220106546787
Nadir Ali6:32 PM
4130311530273
mustafa zaidi6:33 PM
Maria Mustafa
4200068281176
Syed Umair Ahmed6:33 PM
Nadir bhai bolo na
mcc-qjtf-rix
"""
x = x.replace('-','')

cnic = list(set(re.findall(r"\b\d{13}\b",x)))
print(len(cnic))

20

In [33]:
df = pd.DataFrame(cnic, columns=["CNIC"])
df

             CNIC
0   4250182298545
1   4240180561365
2   4130311530273
3   4230181544787
4   4200068281176
5   5440053241639
6   4250189782769
7   4220122191357
8   4200034578253
9   4220105920780
10  4130485196673
11  3460348242756
12  4220106546787
13  4220186465696
14  3310541597331
15  4220171026219
16  1510120026221
17  4210117498405
18  4210113978763
19  4230174256393

In [34]:
df.to_excel("class2Attendance.xlsx",index=False)